@model Gestion.Models.Productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Venta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLVideo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marcas.Nombre_Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marcas.Nombre_Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoria.Nombre_SubCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoria.Nombre_SubCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Producto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
