@model Gestion.Models.Metodo_de_Pago

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Metodo_de_Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Códogo MétodoPago:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_MPago)
        </dd>

        <dt>
            Método:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metodo)
        </dd>

        <dt>
            Descripción:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
