@model Gestion.Models.Metodo_de_Pago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Metodo_de_Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código MétodoPago:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_MPago)
        </dd>

        <dt>
            Método:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metodo)
        </dd>

        <dt>
            Descripción:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Cod_MPago  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
