@model Gestion.Models.Categorias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categorias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Codigo de la Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Categoria)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Categoria)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Cod_Categoria  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
