@model IEnumerable<Gestion.Models.Marcas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Codigo de Marca
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Marca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Cod_Marca}) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Marca }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Cod_Marca  })
        </td>
    </tr>
}

</table>
