@model Gestion.Models.Repartidores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Repartidores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Repartidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Repartidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Repartidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Repartidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Repartidores }) |
    @Html.ActionLink("Back to List", "Index")
</p>
